.weatherItem {
    width: 85%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(102, 102, 255);
    border-radius: 50px;
    color: white;
    margin: 10px;
}

.mainContentBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 22%;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.headers:not(:first-child) {
    margin: 2px 0 0 0;
}

h1 {
    margin: 0;
}

h2 {
    white-space: nowrap;
}
.weatherConditions {
    width: 30%;
    text-align: center;
}

.airConditions {
    width: 30%;
    text-align: center;
}