.filterSection {
    width: 20%;
}

li {
    list-style: none;
}

.filterFields {
    padding-left: 10px;
}

.filterSection h2 {
    font-family: "Belleza", sans-serif;
    font-size: 28px;
}

.filterSection h3 {
    font-family: "Belleza", sans-serif;
    font-size: 22px;
}

label {
    font-size: 18px;
}