
.sortSelect {
    display: inline;
    border-radius: 10px;
    outline: none;
    font-family: "Belleza", sans-serif;
    font-size: 20px;
    background-color: rgb(153, 255, 204);

}

option {
    background-color: white;
}