.App {
  height: 100%;
}

.Content {
  margin: 5%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 50px;
}

.weatherDataSection {
  display: flex;
  justify-content: space-between;
}


@media (max-width: 650px) {
  .weatherDataSection {
    width: 100%;
    flex-direction: column;
  }
}